body {
    padding-left: 40px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    text-align: center;
}
img{
    width: 300px;
    height: 300px;
}